<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestNG">

    <test name="Example Test" preserve-order="false">
        <parameter name="baseURL" value="https://qa.koel.app/"/>
        <classes>
            <class name="base.TestBase"/>
            <class name="LoginTests"/>
            <class name="tests.HomeTests"/>
            <class name="tests.SongsTests"/>
            <class name="tests.ProfileTests"/>
            <class name="runners.CucumberRunner"/>


        </classes>
    </test>
</suite>